<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- container for meta data, not displayed: title, style, links, JS scripts, etc, -->
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>
    <h1 align="center" style="color: #0000ff">Welcome to Developer Course!</h1>


    <img src="spring.png" alt="Spring Boot image"/>

    <h3>Content:</h3>

    <ul>
        <li>Java Review</li>
        <li>Data Structures and Algrithms</li>
        <li>Spring</li>
    </ul>
    </br>
        <a href="/https://spring.io/projects/spring-boot">Spring Boot Documentation</a>
    </ul>

    <br>
    <!-- TABLE -->
    <table>
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>
    </table>

<!-- FORMS -->
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <label>Enter your comments:</label><br>
    <textarea name="comments"></textarea><br><br>

    <label>Please select your favorite subject:</label><br>
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC
    <input type="radio" name="Spring" value="DI">DI
    <input type="radio" name="Spring" value="MVC">MVC
    <br><br>

    <label>Please select your company:</label>
    <input type="checkbox" name="company" value="Bank of America">BOA
    <input type="checkbox" name="company" value="South West Airline">SWA
    <input type="checkbox" name="company" value="Limited">LTD
    <br><br>

    <label>Select your car:</label>
    <select name="cars">
        <option value="honda">Honda</option>
        <option value="nissan">Nissan</option>
        <option value="bmw">BMW</option>

    </select>
    <br><br>

    <!-- action - where to navigate, method - post when we want to submit something -->
    <form action="#" method="get">
        First name:<input type="text" name="first_name"/><br><br>
        Last name:<input type="text" name="last_name">
    </form>

    <br><br>
    <div>
        <h3>This is Java Developer Course</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
        <p>division is used for grouping</p>
    </div>
</body>
</html>